In [2]:
from data_extraction import DataExtractor
from database_utils import DatabaseConnector
import pandas as pd
import numpy as np
from data_cleaning import DataCleaning

In [3]:
df = DataExtractor.retrieve_pdf_data('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf')

In [4]:
back = df

In [5]:
df = back

In [6]:
df = df.drop('Unnamed: 0',axis='columns')
df = df.replace('NULL',np.nan)
df = df.replace('NULL NULL', np.nan)
df.dropna(axis = 0, how = 'all', inplace = True)

In [7]:
df['card_number expiry_date'] = df.loc[df['card_number expiry_date'].notna(), 'card_number expiry_date'].str.split(' ')
df.card_number[df.card_number.isna()] = df.loc[test.temp_card_number.notna(), 'card_number expiry_date'].str[0]
df.expiry_date[df.expiry_date.isna()] = df.loc[test.temp_card_number.notna(), 'card_number expiry_date'].str[1][1:]
df= df.drop('card_number expiry_date', axis='columns')
df = df.dropna()

NameError: name 'test' is not defined

In [ ]:
df[~df.expiry_date.str.contains('/')]= np.nan
df = df.dropna()

TypeError: bad operand type for unary ~: 'float'

In [60]:
test[test.temp_card_number.notna()]

,card_number,expiry_date,card_provider,date_payment_confirmed,card_number expiry_date,temp_card_number
4180,6011036876440620,NaN,Discover,2005-07-18,6011036876440620 09/32,"[6011036876440620, 09/32]"
4181,342417081119649,NaN,American Express,1995-11-01,342417081119649 05/25,"[342417081119649, 05/25]"
4182,3547096863061470,NaN,JCB 16 digit,1996-01-12,3547096863061470 03/29,"[3547096863061470, 03/29]"
4183,3538977357550250,NaN,JCB 16 digit,2003-11-13,3538977357550250 08/26,"[3538977357550250, 08/26]"
4184,180050249830123,NaN,JCB 15 digit,1996-07-12,180050249830123 12/28,"[180050249830123, 12/28]"
4185,6575138434928450,NaN,Discover,2020-11-07,6575138434928450 08/28,"[6575138434928450, 08/28]"
4186,180057301116499,NaN,JCB 15 digit,2009-12-20,180057301116499 11/30,"[180057301116499, 11/30]"
4187,501855542764,NaN,Maestro,2000-07-29,501855542764 07/30,"[501855542764, 07/30]"
4188,578856259689,NaN,Maestro,1998-08-03,578856259689 11/23,"[578856259689, 11/23]"
4189,3549015558397180,NaN,JCB 16 digit,2000-04-27,3549015558397180 02/31,"[3549015558397180, 02/31]"
4190,3516253808757020,NaN,JCB 16 digit,2007-09-22,3516253808757020 12/30,"[3516253808757020, 12/30]"
4191,6543590062391780,NaN,Discover,2001-11-12,6543590062391780 04/30,"[6543590062391780, 04/30]"
4192,4933918420207,NaN,VISA 13 digit,1993-07-27,4933918420207 01/23,"[4933918420207, 01/23]"
4193,213146876620802,NaN,JCB 15 digit,2016-03-09,213146876620802 07/29,"[213146876620802, 07/29]"
4194,676173962538,NaN,Maestro,2022-04-26,676173962538 03/28,"[676173962538, 03/28]"
4195,347930299729087,NaN,American Express,1997-07-03,347930299729087 03/23,"[347930299729087, 03/23]"
4197,347044908689102,NaN,American Express,1999-12-04,347044908689102 02/28,"[347044908689102, 02/28]"
4198,639029234510,NaN,Maestro,2005-12-01,639029234510 11/28,"[639029234510, 11/28]"
4199,676177220818,NaN,Maestro,2020-03-25,676177220818 05/32,"[676177220818, 05/32]"
4200,4437318005811200,NaN,VISA 16 digit,2017-10-29,4437318005811200 06/25,"[4437318005811200, 06/25]"
4201,560543077963,NaN,Maestro,2017-12-01,560543077963 02/31,"[560543077963, 02/31]"
4202,378525861105021,NaN,American Express,2005-05-13,378525861105021 07/29,"[378525861105021, 07/29]"
4203,3568046196711760,NaN,JCB 16 digit,2011-12-09,3568046196711760 05/25,"[3568046196711760, 05/25]"
4204,3547250342266290,NaN,JCB 16 digit,2004-01-06,3547250342266290 04/29,"[3547250342266290, 04/29]"
4205,6011652526437820,NaN,Discover,2005-10-13,6011652526437820 01/25,"[6011652526437820, 01/25]"
4206,4163664547785,NaN,VISA 13 digit,1999-11-22,4163664547785 09/27,"[4163664547785, 09/27]"
4207,344708646107246,NaN,American Express,2020-04-11,344708646107246 09/26,"[344708646107246, 09/26]"
4208,Y8ITI33X30,NaN,TS8A81WFXV,XTD27ANR5Q,Y8ITI33X30 WDWMN9TU45,"[Y8ITI33X30, WDWMN9TU45]"
4209,4461113557725820,NaN,VISA 16 digit,2000-09-26,4461113557725820 07/27,"[4461113557725820, 07/27]"
4210,4533386614864810000,NaN,VISA 19 digit,1999-09-19,4533386614864810000 02/28,"[4533386614864810000, 02/28]"
4211,3505903075912290,NaN,JCB 16 digit,2006-01-04,3505903075912290 08/30,"[3505903075912290, 08/30]"
4212,675929507340,NaN,Maestro,2011-05-13,675929507340 03/30,"[675929507340, 03/30]"
4213,3539141579974750,NaN,JCB 16 digit,2007-07-11,3539141579974750 06/26,"[3539141579974750, 06/26]"
4214,4740074296004170,NaN,VISA 16 digit,2010-06-18,4740074296004170 07/26,"[4740074296004170, 07/26]"
4215,582457332168,NaN,Maestro,1998-04-23,582457332168 01/31,"[582457332168, 01/31]"
4216,30514060650748,NaN,Diners Club / Carte Blanche,2002-04-06,30514060650748 06/27,"[30514060650748, 06/27]"
4217,503817031456,NaN,Maestro,1994-03-17,503817031456 11/28,"[503817031456, 11/28]"
4218,4081518050956,NaN,VISA 13 digit,2014-12-20,4081518050956 09/29,"[4081518050956, 09/29]"
4219,4153576564097700,NaN,VISA 16 digit,1996-03-24,4153576564097700 06/24,"[4153576564097700, 06/24]"
4220,3572338360037250,NaN,JCB 16 digit,1993-03-13,3572338360037250 10/30,"[3572338360037250, 10/30]"
4221,30250394667203,NaN,Diners Club / Carte Blanche,1998-04-29,30250394667203 05/27,"[30250394667203, 05/27]"
4222,4771935519001240000,NaN,VISA 19 digit,1994-10-29,4771935519001240000 01/25,"[4771935519001240000, 01/25]"
4223,4359935800991980,NaN,VISA 16 digit,2007-12-30,4359935800991980 12/30,"[4359935800991980, 12/30]"
4224,6011461937554730,NaN,Discover,1998-06-09,6011461937554730 09/24,"[6011461937554730, 09/24]"
4225,2289192796319960,NaN,Mastercard,1997-03-14,2289192796319960 06/28,"[2289192796319960, 06/28]"
4226,375351960865313,NaN,American Express,2006-05-20,375351960865313 05/28,"[375351960865313, 05/28]"
4227,586988110886,NaN,Maestro,2003-12-24,586988110886 02/32,"[586988110886, 02/32]"
4228,4214816564762,NaN,VISA 13 digit,2009-05-31,4214816564762 11/31,"[4214816564762, 11/31]"
4229,5490899771528630,NaN,Mastercard,2016-10-03,5490899771528630 12/30,"[5490899771528630, 12/30]"
4230,4824901991016570,NaN,VISA 16 digit,1994-10-25,4824901991016570 03/25,"[4824901991016570, 03/25]"
4231,379216309334303,NaN,American Express,1994-01-16,379216309334303 07/24,"[379216309334303, 07/24]"
4232,213180995230995,NaN,JCB 15 digit,2000-09-24,213180995230995 10/27,"[213180995230995, 10/27]"
4233,567416010674,NaN,Maestro,1995-08-30,567416010674 01/23,"[567416010674, 01/23]"
4234,588165713912,NaN,Maestro,2006-01-22,588165713912 12/29,"[588165713912, 12/29]"